<main class="text-center h-100">
    {{#if noCar}}
        <img id="emptyImage" src="noCar.svg" alt="">
        <h1>Non hai ancora registrato la tua auto</h1>
        <p class="text-secondary">Prima di poter effettuare una richiesta di ricarica devi inserire i dati della tua auto cliccando il tuo profilo e poi "La mia auto"</p>
    {{else if noRecharge}}
        <img id="emptyImage" src="noRecharge.svg" alt="">
        <h1>Nessuna richiesta di ricarica</h1>
        <p class="text-secondary">Aggiungi una richiesta di ricarica per usare il nostro MWBot</p>
        <form action="/rechargeRequest">
            <button id="mainButton" type="submit">Richiedi ricarica</button>
        </form>
    {{else}}
        <h1>La tua richiesta di ricarica</h1>

        <div id="space"></div>

        <div class="bg-light d-flex justify-content-center flex-column recharge-request text-left">
            <h3>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-upc" viewBox="0 0 16 16">
                    <path d="M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0z"/>
                </svg>
                Numero della richiesta: <span class="double">{{recharge.id}}</span></h3>
            <h3>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-battery-half" viewBox="0 0 16 16">
                    <path d="M2 6h5v4H2z"/>
                    <path d="M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8"/>
                </svg>
                Percentuale di ricarica desiderata: <span class="double">{{recharge.percentage}}</span>%
            </h3>
            <h3>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                </svg>
                Notifica: {{#if recharge.notification}}sì{{else}}no{{/if}}</h3>
        </div>
    {{/if}}
</main>